* {
    margin: 0;
    padding: 0;
}

.box {
    border-top: 0.5px solid rgba(0,0,0,.125);
    border-right: 0.5px solid rgba(0,0,0,.125);
}
.box:last-child {
    border-right: 0;
}

.box .channel {
    padding: 15px;
}

.channel a, .room a {
    font-weight: bold;
    color: #1b1e21;
}

.room, .session {
    min-height: 40px;
    padding: 10px;
}

.session a {
    margin: 0 10px;
    padding: 4px 12px;
    border: 1px solid #2d995b;
    color: #1b1e21;
    text-transform: capitalize;
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px);
}
.session a:hover {
    background-color: #2fa360;
    border-color: #2d995b;
    color: #fff;
}

